global
    daemon
    maxconn 4096

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

# NATS proxy load balancing
frontend nats_frontend
    bind *:4220
    default_backend nats_backend

backend nats_backend
    balance roundrobin
    option tcp-check
    server proxy1 proxy1:4223 check
    server proxy2 proxy2:4223 check

# HAProxy stats interface
frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 30s
    stats admin if TRUE
